/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Andruha-400;
  src: url(../fonts/Montserrat-Regular.ttf);
} */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/** =========== HEADER ============== */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  gap: 90px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}

.header-logo::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-position: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu-item {
}
.header-menu-link {
  color: #111111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  /* transition-property: color; */
  /* transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  transition: color 300ms ease;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-soc-item {
  width: 40px;
  height: 40px;
}
.header-soc-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: color 300ms linear, border-color 300ms linear;
}

.header-soc-icon {
  fill: currentColor;
}

.header-soc-link:hover {
  border-color: rgba(253, 146, 34, 0.1);
  color: #fd9222;
}

/* .header-soc-link:hover {
  border-color: rgba(253, 146, 34, 0.1);
}

.header-soc-link:hover .header-soc-icon {
  fill: #fd9222;
} */

/** =========== HERO ============== */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/main-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}
.hero-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: flex-end;
}
.hero-buy-btn {
  font-family: inherit;
  background-color: #fd9222;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  margin-right: 14px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  transition: color 300ms linear, background-color 300ms linear;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-anchor-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  transition: color 300ms linear, border-color 300ms linear;
}

.hero-anchor-btn:hover,
.hero-anchor-btn:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.hero-bottom-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-bottom-btn::after {
  content: '';
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  background-image: url(../images/angle-small-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 16px;
  transition-duration: 300ms;
}

.hero-bottom-btn:hover::after {
  background-size: 22px;
}
/** ============================== */

/** =========== FEATURES ============== */

.features {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 20px;
}
.features-list {
  /* padding-left: 18px;
  padding-right: 18px; */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.features-item {
  width: 100%;
  position: relative;
  padding-right: 28px;
}

.features-icon-wrap {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.features-item:not(:last-child)::after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 124px;
  width: 1px;
  right: -44px;
  background: rgba(255, 255, 255, 0.5);
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== TASTE ============== */

.taste {
  padding-top: 80px;
}
.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* column-gap: 32px;
  row-gap: 24px; */
}

.taste-item {
  border-radius: 15px;
  width: 100%;
  padding: 28px 23px;
}

.taste-item:not(:nth-child(-n + 4)) {
  display: none;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: #ffffff;
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== MADE ============== */

.made {
  padding-top: 80px;
}
.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-img {
  width: 100%;
}

.made-content {
  background-color: #ffffff;
  /* padding: 32px; */
  padding: 20px 14px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}

.made-list {
}

.made-item {
  /* margin-bottom: 24px; */
  margin-bottom: 18px;
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== PRODUCTS ============== */

.products {
  padding-top: 80px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.products-item {
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  border-radius: 15px;
  padding: 32px 20px;
  text-align: center;
}
.products-img {
  margin: 0 auto 8px;
}
.product-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.products-item-price {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

/** ============================== */

/** =========== SELLERS ============== */

.sellers {
  padding-top: 120px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  flex-basis: calc((100% - 32px) / 3);
}

.sellers-item:hover .sellers-text-wrap {
  transform: translateY(0);
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-img {
}

.sellers-text-wrap {
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.sellers-cover-text {
  color: var(--light, #fafafa);
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background: #fff;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

/** ============================== */

/** =========== LOVED ============== */

.loved {
  padding-top: 120px;
  padding-bottom: 120px;
}

.loved-title {
  margin-bottom: 90px;
}

.loved-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.loved-item {
  flex-basis: calc((100% - 56px) / 3);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 56px 24px 24px 24px;
  position: relative;
}
.loved-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.34;
  margin-bottom: 24px;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.702);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 28px;
  background-color: transparent;
}

.loved-btn:hover,
.loved-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}

/** ============================== */

/** =========== FOOTER ============== */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}
.footer-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
  margin-right: auto;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-address {
  font-style: inherit;
}
.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
  gap: 50px;
}

.footer-navigation {
}
.footer-menu-list {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-menu-link:is(:hover, :focus) {
  color: #fd9222;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-form-input {
  width: 313px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  outline: transparent;
  padding: 0 24px;
  color: #ffffff;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02em;
}

.footer-form-btn {
  padding: 17px 32px 18px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
}

/** ============================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.657);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 28px;
  height: 28px;
  padding: 0;
}

.modal-btn-icon {
  fill: transparent;
  stroke: #111111;
}

.modal-title {
  text-align: left;
  max-width: 300px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  padding-left: 62px;
  padding-right: 24px;
  color: teal;
  font-size: 16px;
  outline: transparent;
  transition: border-color 300ms linear;
}

.input-wrap:focus-within .modal-input {
  border-color: #fd9222;
}

.input-wrap:focus-within .modal-icon {
  stroke: #fd9222;
}

/* .modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
} */

.modal-input::placeholder {
  color: #6a5c75;
  font-size: 12px;
}

.modal-form-btn {
  padding: 14px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  fill: transparent;
  stroke: #404040;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

.modal-textarea {
  width: 100%;
  height: 137px;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  padding: 22px 24px;
  color: teal;
  font-size: 16px;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02em;
}

.check-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  position: relative;
}

.check-text a {
  color: #fd9222;
}

.check-text-box {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-text > .check-text-box {
  background-color: #fd9222;
  border: none;
  fill: #ffffff;
}

/* .check-text:before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #fd9222;
  border-radius: 50px;
  box-shadow: inset 0 0 4px 2px #fd9222;
  margin-right: 10px;
}

.check-text::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: inset 0 0 4px 2px #c4bbca;
  margin-right: 10px;
  transition-duration: 300ms;
}

.modal-check:checked + .check-text::after {
  transform: translate(18px);
} */

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }

  .made .container {
    max-width: 644px;
  }

  .section-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 44px 88px;
  }

  .features-item {
    width: calc((100% - 88px) / 2);
    padding: 0;
  }

  .taste {
    padding-top: 100px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .taste-item:not(:nth-child(-n + 4)) {
    display: block;
  }

  .made {
    padding-top: 100px;
  }

  .made-content {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .products {
    padding-top: 100px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .made .container {
    max-width: 1166px;
  }

  .features-list {
    padding-left: 18px;
    padding-right: 18px;
  }

  .features-item {
    width: calc((100% - 176px) / 3);
  }

  .features-item:not(:last-child)::after {
    display: block;
  }

  .taste {
    padding-top: 120px;
  }

  .taste-list {
    gap: 24px 32px;
  }

  .taste-item {
    width: calc((100% - 96px) / 4);
  }

  .made {
    padding-top: 120px;
  }

  .made-wrap {
    flex-wrap: nowrap;
  }

  .made-item {
    margin-bottom: 24px;
  }
  .products {
    padding-top: 120px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }
}
