/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Andruha-400;
  src: url(../fonts/Montserrat-Regular.ttf);
} */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/** =========== HEADER ============== */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  gap: 90px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-menu-item {
}
.header-menu-link {
  color: #111111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc {
  display: flex;
  align-items: center;
}
.header-soc-item {
}
.header-soc-link {
}

/** =========== HERO ============== */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}
.hero-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}
.hero-buy-btn {
  font-family: inherit;
  background-color: #fd9222;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  margin-right: 14px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-anchor-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.hero-anchor-btn:hover,
.hero-anchor-btn:focus {
  color: #fd9222;
}
.hero-bottom-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}
/** ============================== */

/** =========== FEATURES ============== */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  gap: 88px;
}
.features-item {
  width: calc((100% - 88px * 2) / 3);
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== TASTE ============== */

.taste {
  padding-top: 120px;
}
.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
  /* column-gap: 32px;
  row-gap: 24px; */
}

.taste-item {
  border-radius: 15px;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.taste-item:nth-child(even) {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.taste-item:nth-child(odd) .taste-subtitle {
  color: #ffffff;
}

.taste-img {
  margin-bottom: 36px;
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== MADE ============== */

.made {
  padding-top: 120px;
}
.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-img {
}

.made-content {
  background-color: #ffffff;
  padding: 32px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}

.made-list {
}

.made-item {
  margin-bottom: 24px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== PRODUCTS ============== */

.products {
  padding-top: 120px;
}
.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 18px * 3) / 4);
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  border-radius: 15px;
  padding: 32px 20px;
  text-align: center;
}
.products-img {
  margin-bottom: 8px;
}
.product-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.products-item-price {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

/** ============================== */

/** =========== SELLERS ============== */

.sellers {
  padding-top: 120px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-item {
  flex-basis: calc((100% - 32px) / 3);
}

.sellers-img {
}

.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background: #fff;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

/** ============================== */

/** =========== LOVED ============== */

.loved {
  padding-top: 120px;
  padding-bottom: 120px;
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
  margin-bottom: 50px;
  display: flex;
  gap: 28px;
}

.loved-item {
  flex-basis: calc((100% - 56px) / 3);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  padding: 56px 24px 24px 24px;
}
.loved-img {
}
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.34;
  margin-bottom: 24px;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.702);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 28px;
  background-color: transparent;
}

.loved-btn:hover,
.loved-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}

/** ============================== */

/** =========== FOOTER ============== */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
}
.footer-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-address {
  font-style: inherit;
}
.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-menu-link:is(:hover, :focus) {
  color: #fd9222;
}

/** ============================== */
