/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Andruha-400;
  src: url(../fonts/Montserrat-Regular.ttf);
} */

body {
  font-family: 'Montserrat', sans-serif;
}

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
} */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/** =========== HEADER ============== */

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.header-logo-italic {
  font-style: italic;
}
.header-menu {
}
.header-menu-item {
}
.header-menu-link {
  color: #111111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc {
}
.header-soc-item {
}
.header-soc-link {
}

/** =========== HERO ============== */

.hero {
  background-color: rgba(17, 17, 17, 0.6);
}
.hero-title {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}
.hero-buy-btn {
  font-family: inherit;
  background-color: #fd9222;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.hero-buy-btn:hover,
.hero-buy-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.hero-anchor-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.hero-anchor-btn:hover,
.hero-anchor-btn:focus {
  color: #fd9222;
}
.hero-bottom-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
/** ============================== */

/** =========== FEATURES ============== */

.features {
  background-color: #1e1823;
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== TASTE ============== */

.taste {
}
.taste-title {
}

.taste-list {
}

.taste-item {
}
.taste-img {
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== MADE ============== */

.made {
}
.made-title {
}

.made-img {
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.made-list {
}

.made-item {
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** ============================== */

/** =========== PRODUCTS ============== */

.products {
}
.products-title {
}

.products-list {
}
.products-item {
}
.products-img {
}
.product-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.products-item-price {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

/** ============================== */

/** =========== SELLERS ============== */

.sellers {
}

.sellers-title {
}

.sellers-list {
}

.sellers-item {
}

.sellers-img {
}

.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/** ============================== */

/** =========== LOVED ============== */

.loved {
}

.loved-title {
}

.loved-list {
}

.loved-item {
}
.loved-img {
}
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background-color: #ffffff;
}

.loved-btn:hover,
.loved-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}

/** ============================== */

/** =========== FOOTER ============== */

.footer {
  background-color: #1e1823;
}
.footer-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-address {
  font-style: inherit;
}
.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-menu-link:is(:hover, :focus) {
  color: #fd9222;
}

/** ============================== */
